{% extends "core/base_core.html" %}
{% block content %}

<section class="core-section py-5">
    <div class="container">
        <h1 class="text-center mb-5">Logs de Mensagens Enviadas</h1>

        {% if logs %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Data de Envio</th>
                        <th>Mensagem</th>
                        <th>Título da Mensagem</th>
                        <th>Número do Disparador</th>
                        <th>Destino (Lead)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.date_sent.strftime('%d/%m/%Y %H:%M:%S') }}</td> <!-- Formatting datetime -->
                        <td>{{ log.message_text }}</td>
                        <td>{{ log.message_title }}</td>
                        <td>{{ log.sender_phone_number }}</td>
                        <td>{{ log.lead_phone_number }}</td>
                        <td>
                            {% if log.status == "sent" %}
                                <span class="badge badge-success">Enviado</span>
                            {% else %}
                                <span class="badge badge-danger">{{ log.status }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="alert alert-info text-center" role="alert">
                Não há logs de mensagens disponíveis.
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}