{% extends "core/base_core.html" %}

{% block content %}
<section class="core-section py-5">
    <div class="container">
        <h1 class="text-center mb-5">Mensagens</h1>

        <!-- Add New Message Button -->
        <div class="text-right mb-4">
            <a href="{{ url_for('core.new_message') }}" class="btn btn-primary">Cadastrar Nova Mensagem</a>
            <a href="{{ url_for('core.run_datawrestler_page') }}" class="btn btn-success">Disparar Mensagens</a>
            <a href="{{ url_for('core.message_logs') }}" class="btn btn-info">Consultar Histórico de Mensagens</a>
        </div>

        <!-- Table for Listing Messages -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                            <th>Título</th>
                            <th>Texto</th>
                            <th>Intervalo</th>
                            <th>Arquivo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                        <tr>
                            <td>{{ message.title }}</td>
                            <!-- Use the nl2br filter to display newlines as <br> tags in the message text -->
                            <td><pre class="formatted-text">{{ message.text | nl2br }}</pre></td>
                            <td>{{ message.interval }}</td>
                            <td>
                                {% if message.file %}
                                    <a href="{{ url_for('core.uploaded_file', filename=message.file) }}" target="_blank">{{ message.file }}</a>
                                {% else %}
                                    Nenhum arquivo
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('core.edit_message', id=message.id) }}" class="btn btn-sm btn-warning">Editar</a>
                                <form action="{{ url_for('core.delete_message', id=message.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-sm btn-danger">Deletar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}